{
  "project_info": {
    "project_number": "315831742964",
    "project_id": "heynota-app",
    "storage_bucket": "heynota-app.firebasestorage.app"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "1:315831742964:android:30965f4bcc9b616e3609a1",
        "android_client_info": {
          "package_name": "com.crmslot.app"
        }
      },
      "oauth_client": [],
      "api_key": [
        {
          "current_key": "REPLACE_ME_via_firebase_apps_sdkconfig"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": []
        }
      }
    }
  ],
  "configuration_version": "1"
}
